.login{
    min-width:350px;
    width:50%;
    text-align: center;
    background-color: #00bcd4;
    min-height: 500px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
    margin-top:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}
.roomCode {
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

*:focus {
    outline: none;
}

.bearGif {
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.waiting{
    min-width:500px;
    width:50%;
    text-align: center;
    background-color: #00bcd4;
    min-height: 500px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding:50px;
    margin-top:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}

.container{
    min-width:350px;
    width:50%;
    text-align: center;
    background-color: #00bcd4;
    min-height: 500px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding:50px;
    margin-top:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}

#questionBox {
    width:75%;
    padding:10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
}

.qContainer {
    vertical-align: top;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}