<!DOCTYPE html>
<html ng-app="restorationApp">
<title>Keys of the Restoration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="assets/icon.png" />
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/restorationApp.js"></script>
<script src="js/restorationController.js"></script>
<link rel="stylesheet" href="style/style.css">
<body ng-controller="restorationController as vm" ng-cloak>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar" id="myNavbar">
    <li><a href="#home" class="w3-padding-large" style="color: #000;">HOME</a></li>
    <li><a href="#firstVision" class="w3-padding-large" style="color: #000;">THE FIRST VISION</a></li>
    <li><a href="#moroni" class="w3-padding-large" style="color: #000;">MORONI</a></li>
    <li><a href="#translation" class="w3-padding-large" style="color: #000;">THE BOOK OF MORMON</a></li>
    <li><a href="#priesthood" class="w3-padding-large" style="color: #000;">THE PRIESTHOOD</a></li>
    <li><a href="#churchToday" class="w3-padding-large" style="color: #000;">THE CHURCH TODAY</a></li>
    <li class="w3-hide-small w3-right">
      <a class="w3-padding-large w3-hover-red"><i class="fa fa-search"></i></a>
    </li>
  </ul>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-opacity w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity">The <span class="w3-hide-small">Restoration</span> </span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">The Boy Joseph</h3>
  <p class="w3-center"><em>Before 1820</em></p>
  
  <div class="w3-row" style="vertical-align: middle;">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>Joseph Smith plays "stick pull"</b></p><br>
      <img src="assets/BoyJoseph.jpg" class="w3-circle" alt="Joseph Smith playing stick pull">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section" style="position: relative;">
      <br />
      <br />
      <br />
      <p class="kid">Joseph was a playful and fun-loving boy. &nbsp;He and his friends often played games together and did fun things like playing stick pull or searching for burried treasure.</p>
      <p class="kid">Joseph grew up on a farm and was taught to work hard. &nbsp;Because of this hard work he became very strong.&nbsp; He learned to never give up and to do hard things.</p>
      <p class="kid">Joseph was obedient to his parents and others. &nbsp;He stood up for truth and chose the right.</p>
    </div>
  </div>
  <div class="expandableContainer">
    <span class="expandableButton" ng-click="vm.actionClick(vm.boyJoseph)"><i ng-class="vm.boyJoseph.button"></i><b> {{vm.boyJoseph.text}}</b></span>
    <div  ng-hide="vm.boyJoseph.value" class="smalldesc">
      <p>Joseph's family were farmers. &nbsp;Since they were not wealthy they made their meager living by renting land from different farmers and using the land as long as they could, which usually resulted in them seeking income outside of farming since they couldn't afford much more than the necessities on their land. &nbsp;Joseph and his brothers often went to work for other farmers to make money to pay the family bills for renting land. &nbsp;Because of these financial challenges the family didn't have the luxury of formal education to the level that most families have today. &nbsp;The Smith family had a tradition however, of reading the family bible together, so the education the children received was directed towards God.</p>
      <p>This created a great environment for religious curiosity and concern. &nbsp;Joseph was very much concerned with the questions of the soul as a child, and encouraged by his parents to seek out proper answers. &nbsp;This led him to deeper studies of the bible, and eventually asking God his earnest question. &nbsp;Because of the environment Joseph was raised in, his mother being a presbyterian, his father not attending any particular denomination, and him attending several, he expected full well to receive a divine manifestation of some sort.</p>
      <div class="w3-row">
        <div class="w3-col m6 w3-center w3-section" width="50%" style="padding-right: 25px;">
        <br />
          <img src="assets/seerstone.jpg" width="100%" />
        </div>
        <div class="w3-col m6 w3-section" width="50%">
          As Joseph became a teenager he worked for the Chase family where he received his first seer stone. &nbsp;Joseph frequently looked for burried treasure with Willard and Sally Chase, who were near his age, using his seer stone and Sally's seer stone. &nbsp;What may come as a surprise to many is that they were pretty good at finding treasure. &nbsp;So good that Joseph was hired to help dig a silver mine in Pennsylvania. &nbsp;However God had a different purpose for Joseph's gift, and Joseph learned that during his encouter with Moroni. &nbsp;For more information about the seer stone, see <a href="https://www.lds.org/ensign/2015/10/joseph-the-seer" target="_blank">this article.</a>
        </div>
      </div>
      <p>Joseph also was hired for many other jobs which required extensive manual labor. &nbsp;He was described as being "charasmatic" and had a way of "getting the other boys to listen." &nbsp;He was from early years prepared to be a prophet of God, which would require much physical exertion on his part, and leadership qualities which he learned even from his youth. &nbsp;He was courageous and obedient. &nbsp;These are two qualities which were also necessary of a future leader for God's kingdom.  </p>
      <center>
      <p>Here is a talk from Neal A Maxwell that discusses some of the qualities of young Joseph.</p>
        <object id="flashObj" width="720" height="405" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0">
          <param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" />
          <param name="bgcolor" value="#FFFFFF" />
          <param name="flashVars" value="videoId=1470248886001&linkBaseURL=https%3A%2F%2Fwww.lds.org%2Fgeneral-conference%2F1992%2F04%2Fmy-servant-joseph%3Flang%3Deng&playerID=1202881497001&playerKey=AQ~~,AAABFr5dynE~,TSPthyn9f7zkbxtdRs4CICkEwMD-g6pb&domain=embed&dynamicStreaming=true" /><param name="base" value="http://admin.brightcove.com" />
          <param name="seamlesstabbing" value="false" />
          <param name="allowFullScreen" value="true" />
          <param name="swLiveConnect" value="true" />
          <param name="allowScriptAccess" value="always" />
          <embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="videoId=1470248886001&linkBaseURL=https%3A%2F%2Fwww.lds.org%2Fgeneral-conference%2F1992%2F04%2Fmy-servant-joseph%3Flang%3Deng&playerID=1202881497001&playerKey=AQ~~,AAABFr5dynE~,TSPthyn9f7zkbxtdRs4CICkEwMD-g6pb&domain=embed&dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" width="720" height="405" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
        </object>
      </center>
    </div>
  </div>
</div>

<!--====================================== The First Vision ======================================-->

<div class="bgimg-2 w3-display-container" id="firstVision">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-light-grey w3-wide grey-box w3-padding-xlarge">The First Vision</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">The First Vision</h3>
  <p class="w3-center"><em>Palmyra, New York - Spring 1820</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>Joseph Smith</b></p><br>
      <img src="assets/firstVisionMini.jpg" width="300px" class="w3-circle" alt="Joseph Smith">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p class="kid">Joseph Smith wanted to know which church was true.&nbsp; He prayed to God to know which was true and got to see God.</p>
      <p class="kid">Joseph was forgiven of his sins.&nbsp; Joseph also felt a great love from our Heavenly Father.</p>
      <p class="kid">Jesus told Joseph Smith that none of the churches were God's church.&nbsp; He said that they didn't have the power of God anymore.</p>
    </div>
  </div>
  <div class="expandableContainer">
    <span class="expandableButton" ng-click="vm.actionClick(vm.firstVision)"><i ng-class="vm.firstVision.button"></i><b> {{vm.firstVision.text}}</b></span>
    <div  ng-hide="vm.firstVision.value" class="smalldesc">
      <p>Four Primary accounts of the First Vision have been procured, in which different aspects of the vision are highlighted. &nbsp;For example in the 1832 account Joseph writes, &quot;Joseph my son thy sins are forgiven thee. &nbsp;Go thy way walk in my statutes and keep my commandments behold I am the Lord of glory I was crucifyed for the world that all those who believe on my name may have Eternal life.&quot;  This exemplifies the great love both our Heavenly Father and Jesus Christ feel for each of us, a doctrine professed by many churches to be a fallacy as God has neither passion nor parts, and therefore does not love nor hate. &nbsp;However, as Joseph learned that day in the grove, as many great prophets before learned, God does have both passions and parts. &nbsp;How else could "God so [love] the world that he sent his only begotten son?" &nbsp;</p>
      <p>In his account from 1835 Joseph recalls there being many angels, an insignificant detail since it doesn't increase or decrease the brilliance of the vision where God manifests himself. &nbsp;One significant detail that was included in this account was that two personages appeared. &nbsp;First came one in a &quot;pillar of flame&quot; followed by another who was &quot;like unto the first&quot; who told Joseph his sins were forgiven. &nbsp;The emphasis still is on the love of God and his infinite mercy, which may be one great truth the world lacked at this time. &nbsp;Catholisism, one of the largest religions at the time focused heavily on punishment for sins, while protestants were very much under the impression that God will either take everyone into his kingdom, no one, or God has already chosen who will enter into his kingdom and we cannot change that. &nbsp;These ideologies have very weak biblical support, but also deny the power of God's love for his children thereby denying the power and scope of the atonement. &nbsp;Without a loving Father who created us, we cannot access divine grace, nor can such grace exist as it is a product of infinite love.</p>
      <p>In addition another great doctrine which was confirmed in this vision was the appearance of God. &nbsp;The Christian creeds generally accepted at the time stated that God is a spirit. &nbsp;He has no form, no passion nor parts. &nbsp;This doctrine confuses many as the bible states, &quot;And God said, Let us make man in our image, after our likeness&quot;(Genesis 1:26) &nbsp;So what is God's image if he has no parts, or no physical form? &nbsp;It would thereby follow that man, who God created, also has no physical form, which we all know to be false. &nbsp;Joseph Smith saw God our Father and Jesus Christ. &nbsp;He saw two &quot;personages&quot; as he described them, and noted that they were separate and distinct, but &quot;exactly resembled each  other in features, and likeness.&quot; &nbsp;Now knowing that one of these personages was Jesus Christ, and the other the Father, and Jesus Christ, having a body and having on multiple occasions manifest himself unto his servants, if the two personages were truly identical in physical features as Joseph states, it thereby follows that &quot;The Father has a body of flesh and bones as tangible as man’s; the Son also.&quot;(D&C 130:22) &nbsp;Thus we really can confidently call ourselves His children as we are like him, only not yet perfect and glorious as he is.</p>
      <!-- <p>Finally, Joseph was just a boy. &nbsp;Joseph was 14 years old but received a divine manifestation. &nbsp;</p> -->
      <p><a href="https://www.lds.org/topics/first-vision-accounts" target="_blank">Here is a link</a> to an article that has more about the primary and secondary accounts.</p>
    </div>
  </div>
</div>

<!--====================================== Moroni ======================================-->

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container" id="moroni">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-light-grey w3-wide grey-box w3-padding-xlarge">Moroni</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">Moroni's Visit</h3>
  <p class="w3-center"><em>Palmyra, New York - September 1823</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>Moroni visits Joseph Smith</b></p><br>
      <img src="assets/moroniVisit.jpg" class="w3-circle" alt="Joseph Smith">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <p class="kid">The angel Moroni visited Joseph Smith and taught him about the Book of Mormon. &nbsp;Joseph was called to translate the Book of Mormon.</p>
      <p class="kid">Moroni had such an important message that he told it to Joseph four times.</p>
      <p class="kid">Moroni told Joseph Smith that he would be a &quot;seer.&quot; &nbsp;That means he had a gift to see things with his spiritual eyes.</p>
    </div>
  </div>
  <div class="expandableContainer">
    <span class="expandableButton" ng-click="vm.actionClick(vm.moroni)"><i ng-class="vm.moroni.button"></i><b> {{vm.moroni.text}}</b></span>
    <div ng-hide="vm.moroni.value" class="smalldesc">
      <p><a href="https://www.lds.org/scriptures/pgp/js-h/1.27-54#26" target="_blank">Here is a link</a> to the account of Joseph's visits with Moroni.</p>
      <p>Moroni visited Joseph Smith on at least twenty-two separate occasions. &nbsp;Joseph was instructed by him in multiple subjects, first being the retrieval and purpose of the plates, but later Joseph was taught more about the record itself, the people it was written about and thereby learned to understand the great importance of the book. &nbsp;Moroni exercised patience in teaching Joseph all these things as Joseph was not perfect in his initial knowledge, but needed to learn &quot;line upon line, precept upon precept.&quot; &nbsp;Over the course of the next four years Joseph would return to Cumorah and receive instruction from Moroni, learning his duty and the purposes of God for him. &nbsp;</p>
    </div>
  </div></div>

<!-- Modal for full size images on click-->


<!--====================================== The Book of Mormon ======================================-->

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-4 w3-display-container" id="translation">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-light-grey w3-wide grey-box w3-padding-xlarge">The Book of Mormon</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">The Plates</h3>
  <p class="w3-center"><em>Manchester, New York - September 1827</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>Joseph Smith Finds the Plates</b></p><br>
      <img src="assets/GoldenPlates.jpg" width="300px" class="w3-circle" alt="Joseph Smith">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <p class="kid">Joseph Smith had to visit the hill Cumorah several times before he could get the plates. &nbsp;He was given the plates and tools for translation.</p>
      <p class="kid">Joseph was told to protect the plates. &nbsp;He worked hard to keep them safe from people who wanted to sell them or destroy them.</p>
      <p class="kid">The plates contained a record of the people who lived in America from about 600 BC to 400 AD. &nbsp;It testifies of the Savior and his divine mission. &nbsp;It also shows that God loves all his children.</p>
    </div>
  </div>
  <br />
  
  <center><iframe width="641" height="443" src="https://www.youtube.com/embed/BhxB7oURmKA" frameborder="0" allowfullscreen></iframe></center>

  <br />
  <br />

  <h3 class="w3-center">Translation</h3>
  <p class="w3-center"><em>Harmony, Pennsylvania - Spring 1829</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b></b></p><br>
      <img src="assets/translationmini.jpg" width="300px" class="w3-circle" alt="Joseph Smith">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <p class="kid">Joseph Translated the Book of Mormon by the gift and power of God. &nbsp;He had scribes that helped write for him.</p>
      <p class="kid">It was a miracle that Joseph was able to translate the Book of Mormon. &nbsp;He translated almost all of it in 90 days.</p>
      <p class="kid">The Book of Mormon has now been translated into many languages so everyone can read it.</p>
    </div>
  </div>
  <div class="expandableContainer">
    <span class="expandableButton" ng-click="vm.actionClick(vm.translation)"><i ng-class="vm.translation.button"></i><b> {{vm.translation.text}}</b></span>
    <div id="expandable-content-2" ng-hide="vm.translation.value" class="smalldesc" >
      <p>If you recall, Joseph was instructed by Moroni that he must have &quot;no other object in view in getting the plates but to glorify God.&quot; &nbsp;This would have been a great temptation for Joseph as his family was very poor. &nbsp;This had the potential to make them very wealthy, but that was not God's will. &nbsp;Joseph needed to learn to put God above all things, especially riches. &nbsp;This time could be described as a testing period for Joseph to see if he could overcome the worldy desire for riches and &quot;[put] off the natural man and [become] a saint.&quot; &nbsp;Joseph went several times to retrieve the plates and upon several occasions tried to take the plates to use them to get rich, but was prohibited in various ways and reminded that the consequence for his disobedience would be his ultimate destruction. &nbsp;Joseph, however, was courageous and followed the counsel of Moroni and eventually was able to overcome this desire for riches and received the plates.</p>
      <p>The translation of the Book of Mormon occured from Sept 1827 whe Joseph got the plates until June 1829 when it was printed. &nbsp;The first scribe that assisted in the translation was Martin Harris, a wealthy man that became good friends with Joseph. &nbsp; The translation was going well, and once they had translated 116 pages of manuscript Martin wanted to show his wife.  Joseph inquired of the Lord, and the Lord said no. &nbsp;Joseph was then left to face Martin with an answer he knew he wouldn't like. &nbsp;So Martin tried to pressure him into asking God again. &nbsp;That's not an unfair request. &nbsp;Martin has spent lots of money on this investment, spent several hours transcribing for Joseph Smith, and all this time his wife was convinced he was crazy. &nbsp;Martin was under a lot of stress and wanted to help his wife see the brilliance of this endeavor. &nbsp;Martin had also provided Joseph and Emma with $50 to help them move, which was a very large amount of money during that time. &nbsp;He was like a second father to Joseph. &nbsp;Again the Lord said no to Joseph. &nbsp;Martin was convinced he could get a yes, so he pressured Joseph into asking again, and the Lord gave him permission.</p>
      <p>Martin lost the manuscript pages, and Joseph lost his gift of translation as a result. &nbsp;The plates were taken from him as well as the urim and thummim and breastplate. &nbsp;He thought that it was over and that he has consigned himself to his destruction and that he had completely failed. &nbsp;This was another learning experience for Joseph. &nbsp;He recieved <a href="https://www.lds.org/scriptures/dc-testament/dc/3.5-10#4" target="_blank">D&C 3</a> which instructed him that he must repent or he will permanently lose his gift. &nbsp;The Lord told him to fear God more than man. &nbsp;Joseph did repent of this and we see that he did learn from this time as demonstrated in liberty jail when he stood up for the church members to several prison guards, who were armed and had intent to kill him and any church member. &nbsp;This was essential to prepare Joseph Smith for his calling for if he did not learn to put God's will first always, how could he bear to see the saints suffer through all those persecutions and still relay the commandments of God which would lead to more.</p>
      <p>The Book of Mormon itself is a wonderful message.  As stated in the introduction &quot;The Book of Mormon is a volume of holy scripture comparable to the Bible. It is a record of God’s dealings with ancient inhabitants of the Americas and contains the fulness of the everlasting gospel.&quot; &nbsp;The Book's sole testimony is that Jesus is the Christ. &nbsp;The book starts with a family and the author at that time, Nephi writes, &quot;but behold, I, Nephi, will show unto you that the tender mercies of the Lord are over all those whom he hath chosen, because of their faith, to make them mighty even unto the power of deliverance.&quot; &nbsp;The book has changed many millions of lives and continues to do so everyday. &nbsp;It is a companion volume of scripture to the bible and testifies of the truthfulness of the Bible's message by sharing experiences of other people in the world who also believed in Christ.</p>
      <p>&quot;The Book of Mormon will change your life. It will fortify you against the evils of our day. It will bring a spirituality into your life that no other book will. It will be the most important book you will read&quot; (President Ezra Taft Benson, Ensign, May 1986, 43)</p>
      <p>Concerning this record the Prophet Joseph Smith said: &quot;I told the brethren that the Book of Mormon was the most correct of any book on earth, and the keystone of our religion, and a man would get nearer to God by abiding by its precepts, than by any other book.&quot;</p>
      <p>&quot;4 And when ye shall receive these things, I would exhort you that ye would ask God, the Eternal Father, in the name of Christ, if these things are not true; and if ye shall ask with a sincere heart, with real intent, having faith in Christ, he will manifest the truth of it unto you, by the power of the Holy Ghost.</p>
      <p>5 And by the power of the Holy Ghost ye may know the truth of all things.&quot; (Moroni 10:4-5)</p>
      <p>There is only one way to know if these claims are true.  That is to do as Moroni asks, and ask God &quot;if these things are not true.&quot; <a href="https://www.mormon.org/beliefs/book-of-mormon" target="_blank"> Click here</a> to order a free copy of the Book of Mormon.</p>
    </div>
  </div>
</div>

<!--====================================== Priesthood ======================================-->

<div class="bgimg-5 w3-display-container" id="priesthood">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-light-grey w3-wide grey-box w3-padding-xlarge">The Priesthood</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">The Aaronic Priesthood Restored</h3>
  <p class="w3-center"><em>Harmony, Pennsylvania - May 1829</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>John the Baptist confers the Aaronic Priesthood</b></p><br>
      <img src="assets/aaronicPriesthood.jpg" class="w3-circle" alt="Joseph Smith">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <br />
      <p class="kid">John the Baptist gave Joseph Smith and Oliver Cowdrey the power to baptize.</p>
      <p class="kid">Following this, Joseph Smith and Oliver Cowdrey baptized each other as Christ was baptized.</p>
      <p class="kid">With this power people were now able to be be baptized, which is needed to be able to return to God again.</p>
    </div>
  </div>

  <br />
  <br />

  <h3 class="w3-center">The Melchizedek Priesthood Restored</h3>
  <p class="w3-center"><em>Harmony, Pennsylvania - May 1829</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>Peter, James and John restore the priesthood</b></p><br>
      <img src="assets/melchizedekPriesthood.jpg" width="300px" class="w3-circle" alt="Joseph Smith">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p class="kid">Peter, James and John restored the power to lead the church.</p>
      <p class="kid">With this authority, Joseph Smith organized God's church.</p>
      <p class="kid">He received revelation to lead and choose leaders in the church.</p>
    </div>
  </div>
  <div class="expandableContainer">
    <span class="expandableButton" ng-click="vm.actionClick(vm.melchizedekPriesthood)"><i ng-class="vm.melchizedekPriesthood.button"></i><b> {{vm.melchizedekPriesthood.text}}</b></span>
    <div  ng-hide="vm.melchizedekPriesthood.value" class="smalldesc" >
      <p>An account of John the Baptist restoring the aaronic priesthood can be found <a href="https://www.lds.org/scriptures/dc-testament/dc/13" target="_blank">here.</a>&nbsp; John the Baptist restored the priesthood of Aaron to the earth on May 15, 1829.  John also told Joseph Smith and Oliver Cowdrey that the Aaronic priesthood held, &quot;the keys of the ministering of angels, and of the gospel of repentance, and of baptism by immersion for the remission of sins.&quot; &nbsp;This made it possible for people to be baptized by the proper authority, a essential ordinance prerequisite to our entering into the kingdom of God. &nbsp;With this authority Oliver and Joseph baptized each other as members of the church of Jesus Christ. &nbsp;With this wonderful gift on the earth people once again had access to the fullness of the atonement.</p>
      <p>The Melchizedek priesthood was actually restored more as a process. &nbsp;Shortly after John the Baptist restored the Aaronic Priesthood, Peter, James, and John appeared to Joseph Smith and Oliver Cowdrey and conferred upon them the Melchizedek Priesthood and ordained them to be apostles of Jesus Christ. &nbsp;They also restored the keys to dispensation of the fulness of times, and the restoration of the gospel. &nbsp;With this Joseph Smith was able to reorganize the church, ordaining teachers and priests. &nbsp;However, in 1829 a little after this it was noted &quot;We now became anxious to have that promise realized to us...that provided we continued faithful; we should also have the Melchesidec Priesthood, which holds the authority of the laying on of hands for the gift of the Holy Ghost.&quot; (JS History, 1838–1856, volume A-1, 26) &nbsp;Shortly thereafter the power to lay on with hands and give the gift of the Holy Ghost was also restored, the completion of a baptism. &nbsp;With this the members of the church had access to the constant companionship of that third member of the godhead, even the Holy Ghost.</p>
      <p>In 1831 at a conference it was noted that, &quot;The authority of the Melechisedec priesthood was manifested and conferred, for the first time, upon several of the elders&quot; (JS History, 1838–1856, volume A-1, 118) &nbsp;Here was the first time that High Priests were ordained in this dispensation. &nbsp;Around this same time the office of a bishop was restored. &nbsp;In 1834 there were Patriarchs ordained as well as members of the High Council, and the quorum of the Seventy. &nbsp;This was also when the quorum of the Twelve apostles was officially organized. &nbsp;</p>
    </div>
  </div>
</div>

<!--====================================== The Church Today ======================================-->

<div class="bgimg-6 w3-display-container" id="churchToday">
  <div class="w3-display-middle">
     <span class="w3-xxlarge grey-box w3-padding-xlarge w3-text-light-grey w3-wide">The Church Today</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">Continual Revelation</h3>
  <p class="w3-center"><em>The church in our day</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <p><b>Prophets Today</b></p><br>
      <img src="assets/firstPresidency.jpg" width="300px" class="w3-circle" alt="The First Presidency">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <br />
      <br />
      <br />
      <br />
      <br />
      <p class="kid">Today the church is led by living prophets and apostles. &nbsp;God speaks to prophets like Thomas S. Monson to guide us.  </p>
      <p class="kid">Every 6 months Prophets and Apostles give us the message God has told them for us.</p>
      <p class="kid">We need to follow Jesus Christ by continuing to learn of him and take the sacramnet.</p>
    </div>
  </div>
  <div class="expandableContainer">
    <span class="expandableButton" ng-click="vm.actionClick(vm.churchToday)"><i ng-class="vm.churchToday.button"></i><b> {{vm.churchToday.text}}</b></span>
    <div  ng-hide="vm.churchToday.value" class="smalldesc">
      <p><a href="https://www.lds.org/general-conference?lang=eng" target="_blank">Click here</a> to see what the living prophets and apostles have said recently. &nbsp;Every year a &quot;general&quot; conference is held for all members of the church and all who wish to attend. &nbsp;At this conference the Prophet, his counselors and the apostles all adress us along with other church leaders. &nbsp;They give a message that they have prepared through much fasting, prayer, and study. &nbsp;They still receive revelation today for the world as a whole. &nbsp;However, their sole purpose is to stand as special witnesses of Jesus Christ.</p>
      <p><a href="https://www.mormon.org/beliefs/prophets" target="_blank">Here</a> is a link to the church's website which talks about prophets. &nbsp;Prophets were essential in the church as they were mediators between God and his people. &nbsp;God would call the weak things of the earth, people who were &quot;despised of all men,&quot; or &quot;plain men&quot; to show us that it is possible for us. &nbsp;Prophets and apostles are ordinary people with an extraordinary calling. &nbsp;They stand as examples or guards on a watchtower, pointing us to the Savior. &nbsp;They are called by God to lead us, and he inspires them with the things we need to know in our time.</p>
      <p>The church is a living church. &nbsp;We are constantly growing, and progressing. &nbsp;This also means that we meet frequently together to help us &quot;always remember [the Savior].&quot; &nbsp;After all, it is his church, and it is only through him that we can return to God. &nbsp;Part of our weekly service is the sacrament, an ordinance that is far too well overlooked in the church. &nbsp;Despite the countless sermons, scripture studies, seminary lessons, and much more that teach us about the importance of the sacrament we somehow fail to grasp the vitality of this ordinance. &nbsp;This should be the highlight of our week as we get to renew our covenant with God. &nbsp;We get the opportunity to be metaphorically on the altar of sacrifice and hear the Savior say, &quot;Behold the suffering of him who did no wrong.&quot; &nbsp;Come down off that alter. &nbsp;You be me, and I'll be you. &nbsp;Try hard to keep my commandments and follow me, and my sacrifice will be yours. &nbsp;Then we mess up, because trying to be like Jesus is not easy. &nbsp;So there we stand. &nbsp;Again at the alter, where Christ says, Come down off that alter. &nbsp;You be me, and I'll be you. &nbsp;Try hard to keep my commandments and follow me, and my sacrifice will be yours. &nbsp;I love you and I know you can do it. &nbsp;Don't give up. &nbsp;Keep trying and I will be with you every step of the way to show you the way to go. &nbsp;With that in mind the sacrament takes on a whole meaning. &nbsp;Because of Jesus Christ, we do not need to be sacrificed for our sins. &nbsp;He took it upon himself that we all might return to God. &nbsp;He did not take away our agency, but he invites us with open arms to follow him.</p>
    </div>
  </div>
</div>

<!--MODAL-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-closebtn w3-hover-red w3-text-white w3-xxxlarge w3-container w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" style="max-width:100%">
  </div>
</div>

<script>

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
        navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}
</script>

</body>
</html>

